<!DOCTYPE html>
<html lang="ro">

<head>
    <title>QuickGSM - Despre noi></title>
    <link rel="stylesheet" href="/resurse/css/about.css" type="text/css" />
    <meta name="keywords"
        content="telefoane, accesorii, magazin, GSM, QuickGSM, ieftin, iPhone, Samsung, Huawei, Xiaomi">
    <meta name="description"
        content="QuickGSM - Magazin GSM online cu o gama ampla de telefoane mobile, smartphone-uri si accesorii, cu cele mai ieftine preturi!">
    <%- include("../fragmente/head.ejs") %>
</head>

<body>
    <%- include("../fragmente/header.ejs") %>
        <main>
            <section id="intro">
                <h2>Despre noi</h2>
                <div class="descriere">
                    <div>
                        <h3>Ținem oamenii conectați cu cei dragi încă din 1995.</h3>
                        <p> Cu o experiență de peste 25 de ani, QuickGSM este cel mai de încredere furnizor de telefoane
                            și accesorii de pe piața românească. Mulțumită vastei noastre experiențe, avem format
                            strânse legături de colaborare cu numeroși furnizori din lumea
                            întreagă. Asta înseamnă că putem întotdeauna să oferim cele mai noi telefoane,
                            prețuri deosebite, servicii de încredere, o livrare promptă și asistență premimum pentru
                            clienții noștri.
                        </p>
                    </div>
                    <img src="/resurse/svg/meeting.svg" alt="meeting">
                </div>
            </section>
            <section id="poveste">
                <h2>Povestea noastră</h2>
                <div class="content">
                    <img src="/resurse/img/quickgsm-inceputuri.png" alt="inceputuri">
                    <p>
                        Site–ul QuickGSM a fost lansat în anul 2004, dar povestea sa a debutat cu 9 ani mai devreme,
                        când un grup de prieteni s–au hotărât să deschidă o nouă afacere împreună.
                        Am început prin a vinde telefone în magazine, primul nostru sediu fiind cel din București, dar
                        ambiția și perseverența noastră ne-a împins să căutăm noi provocări, precum și alte piețe
                        competitive.
                        Deschiderea unui magazin online ni le–a oferit pe amândouă și ne–a permis să ne dezvoltăm o
                        prezență puternică la nivel național.
                    </p>
                </div>
            </section>
        </main>
        <%- include("../fragmente/footer.ejs") %>
</body>

</html>