<!DOCTYPE html>
<html lang="ro">

<head>
    <title>QuickGSM - users</title>
    <link rel="stylesheet" href="/resurse/css/cerere_reset.css" type="text/css" />
    <meta name="keywords"
        content="telefoane, accesorii, magazin, GSM, QuickGSM, ieftin, iPhone, Samsung, Huawei, Xiaomi">
    <meta name="description"
        content="QuickGSM - Magazin GSM online cu o gama ampla de telefoane mobile, smartphone-uri si accesorii, cu cele mai ieftine preturi!">
    <script src="/resurse/js/cerere_reset.js"></script>
    <%- include("../fragmente/head.ejs") %>
</head>

<body>
    <%- include("../fragmente/header.ejs") %>
        <main>
            <h2>Cerere resetare parola</h2>
            <div>
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" class="form-control" id="username" name="username" required>
                </div>
                <button id="submit" class="btn btn-primary">Trimite cerere reset</button>
            </div>
        </main>

        <%- include("../fragmente/footer.ejs") %>
</body>

</html>