<!DOCTYPE html>
<html lang="ro">

<head>
    <title>QuickGSM - Despre noi></title>
    <link rel="stylesheet" href="/resurse/css/about.css" type="text/css" />
    <meta name="keywords"
        content="telefoane, accesorii, magazin, GSM, QuickGSM, ieftin, iPhone, Samsung, Huawei, Xiaomi">
    <meta name="description"
        content="QuickGSM - Magazin GSM online cu o gama ampla de telefoane mobile, smartphone-uri si accesorii, cu cele mai ieftine preturi!">
    <link rel="stylesheet" href="/resurse/css/galerie.css" type="text/css" />
    <%- include("../fragmente/head.ejs") %>
</head>

<body>
    <%- include("../fragmente/header.ejs") %>
        <main>
           <%- include("../fragmente/galerie.ejs") %>
        </main>
        <%- include("../fragmente/footer.ejs") %>
</body>

</html>