header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  color: var(--tertiary);
  background-color: var(--primary);
  position: sticky;
  top: 0;
  font-size: 1.3em;
  z-index: 1;
}
@media screen and (min-width: 800px) and (max-width: 1400px) {
  header {
    font-size: 1em;
  }
}
@media screen and (max-width: 800px) {
  header {
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: inherit;
  }
  header #hamburger-container {
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    background-color: var(--primary);
  }
  header #hamburger-container #hamburger {
    height: 28px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  header #hamburger-container #hamburger .hamburger-line {
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 3px;
    border-radius: 10px;
    transform: translateX(-60vw);
    animation-name: animatie_hamburger_line;
    animation-duration: 1.2s;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(0.91, -0.1, 0.49, 0.96);
    animation-fill-mode: forwards;
  }
  header #hamburger-container #hamburger .hamburger-line:nth-child(1n) {
    animation-delay: 0.25s;
  }
  header #hamburger-container #hamburger .hamburger-line:nth-child(2n) {
    animation-delay: 0.5s;
  }
  header #hamburger-container #hamburger .hamburger-line:nth-child(3n) {
    animation-delay: 0.75s;
  }
  header:active > nav, header:hover > nav {
    display: flex;
  }
}
header h1 {
  color: var(--secondary) !important;
  width: 10%;
  margin-left: 2vw;
}
@media screen and (max-width: 800px) {
  header h1 {
    display: none;
  }
}
@media screen and (min-width: 800px) and (max-width: 1400px) {
  header h1 {
    font-size: 1.9em;
  }
}
header nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 70%;
  padding: 0;
}
@media screen and (max-width: 800px) {
  header nav {
    display: none;
    width: 100%;
    background-color: var(--primary) !important;
    -webkit-mask-image: linear-gradient(to top, transparent, white 100%);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 100% 500%;
    mask-image: linear-gradient(to top, transparent, white 100%);
    mask-repeat: no-repeat;
    mask-size: 100% 500%;
    animation-name: animatie_submeniu_mobile;
    animation-duration: 1.2s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    transform-origin: 50% 0;
  }
}
header nav > ul {
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-bottom: 20px;
  list-style-type: none;
}
@media screen and (max-width: 800px) {
  header nav > ul {
    flex-direction: column;
    padding: 0;
  }
}
header nav > ul > li {
  height: var(--inaltime-celula);
  width: var(--latime-celula);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 1400px) and (max-width: 1700px) {
  header nav > ul > li {
    width: 150px;
  }
}
header nav > ul > li > a {
  width: var(--latime-celula);
  min-height: var(--inaltime-celula);
  text-align: center;
}
header nav > ul a {
  text-decoration: none;
  color: var(--tertiary);
  transition: var(--timp-tranzitie-header);
  cursor: pointer;
}
header nav > ul a:hover {
  color: var(--secondary) !important;
  transition: var(--timp-tranzitie-header);
}
@media screen and (max-width: 800px) {
  header nav > ul #produse {
    order: 3;
  }
}
header nav > ul .sublist {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
header nav > ul .sublist > a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
header nav > ul .sublist > a > i {
  margin-right: 5px;
}
header nav > ul .sublist > a > p {
  margin: 0;
}
header nav > ul .sublist > a > #acasa {
  opacity: 0;
  transition: var(--timp-tranzitie-header);
}
@media screen and (max-width: 800px) {
  header nav > ul .sublist > a > #acasa {
    display: none;
  }
  header nav > ul .sublist > a > i {
    margin: 0;
  }
}
header nav > ul .sublist:hover > a > #acasa {
  opacity: 1;
  transition: var(--timp-tranzitie-header);
}
header nav > ul .sublist ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  list-style-type: none;
  display: none;
  animation-name: animatie_submeniu;
  animation-duration: var(--timp-animatie-submeniu);
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  transform-origin: 50% 0;
}
header nav > ul .sublist ul li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: var(--latime-celula);
  background-color: var(--primary);
  padding-top: 10px;
}
header nav > ul .sublist ul li > a {
  color: var(--tertiary);
  text-decoration: none;
  text-align: center;
  transition: var(--timp-tranzitie-header);
}
header nav > ul .sublist ul li > a:hover {
  color: var(--secondary) !important;
  transition: var(--timp-tranzitie-header);
}
header nav > ul .sublist ul :last-child {
  padding-bottom: 10px;
}
header nav > ul .sublist:hover ul {
  display: block;
}
header > i {
  position: absolute;
  left: 5px;
  top: 20px;
  cursor: pointer;
}
@media screen and (max-width: 800px) {
  header > i {
    top: 8px !important;
  }
}
header form {
  max-height: 57px;
  font-size: 0.8rem !important;
  line-height: 1 !important;
  display: flex;
  flex-direction: row;
  justify-self: flex-end;
  align-items: center;
  align-self: center;
}
header form > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header form > div > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3px;
  width: 100%;
}
header form input, header form a {
  margin-left: 10px;
}
header form input {
  padding: 0 !important;
  font-size: 0.8rem !important;
  width: 60% !important;
}
header form button {
  padding: 0px 2px !important;
}
header form .buttons > a {
  font-size: 0.7rem !important;
}
header form a {
  color: var(--tertiary);
}
header form a:hover {
  color: var(--quinary);
}
header form #logat {
  width: 100%;
  font-size: 1rem !important;
}
header form #logat a {
  margin: 0;
}
@media screen and (max-width: 800px) {
  header form {
    background-color: var(--primary);
    width: 100%;
    order: -1;
    justify-content: flex-end !important;
  }
  header form #logat {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    align-self: center;
    height: 20px;
    min-width: 30%;
  }
  header form #logat p {
    margin: 0;
  }
}

@keyframes animatie_submeniu {
  0% {
    transform: scale(0, 0);
    opacity: 0;
  }
  100% {
    transform: scale(1, 1);
    opacity: 1;
  }
}
@keyframes animatie_submeniu_mobile {
  0% {
    -webkit-mask-position: 0 150%;
    mask-position: 0 150%;
  }
  99% {
    -webkit-mask-position: 0 -100%;
    mask-position: 0 -100%;
  }
  100% {
    -webkit-mask: none;
    mask: none;
  }
}
@keyframes animatie_hamburger_line {
  0% {
    transform: translateX(-60vw);
    opacity: 0.2;
  }
  50% {
    transform: translateX(0%);
    opacity: 1;
  }
  100% {
    transform: translateX(0%);
    background-color: var(--secondary);
  }
}

/*# sourceMappingURL=nav.css.map */
