main {
  width: 100%;
  min-height: 1150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-filtre {
  width: 90%;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--quaternary);
}
.container-filtre h2 {
  grid-area: titlu;
  font-size: 2rem;
  margin-bottom: 20px;
}
.container-filtre button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.container-filtre button > p {
  margin: 0;
}
@media screen and (max-width: 800px) {
  .container-filtre button > p {
    display: none;
  }
}
.container-filtre .nume {
  padding-top: 30px;
}
.container-filtre .nume label {
  margin-top: 30px;
}
.container-filtre .pret {
  grid-area: pret;
  display: flex;
  flex-direction: column;
}
.container-filtre .pret div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-filtre .pret div input {
  padding: 10px;
  width: 90%;
  outline: none;
}
.container-filtre .pret div input:focus {
  border: 1px solid var(--primary);
}
.container-filtre .pret label {
  font-size: 1.2rem;
  margin-bottom: 10px;
}
.container-filtre .tip {
  grid-area: tip;
  display: flex;
  flex-direction: column;
}
.container-filtre .tip label {
  font-size: 1.2rem;
  margin-bottom: 10px;
}
.container-filtre .tip input {
  padding: 10px;
  border: 1px solid var(--quaternary);
  border-radius: 5px;
  outline: none;
}
.container-filtre .tip input:focus {
  border: 1px solid var(--primary);
}
.container-filtre .date {
  grid-area: 5g;
  display: flex;
  flex-direction: column;
}
.container-filtre .date legend {
  font-size: 1.2rem;
  margin-bottom: 10px;
}
.container-filtre .date select {
  padding: 10px;
  border: 1px solid var(--quaternary);
  border-radius: 5px;
  outline: none;
}
.container-filtre .date select:focus {
  border: 1px solid var(--primary);
}
.container-filtre .date > div > input {
  margin-right: 10px;
}
.container-filtre .date > div > label {
  font-size: 1rem;
}
.container-filtre .noutati {
  grid-area: noutati;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.container-filtre .specs {
  grid-area: specs;
  display: flex;
  flex-direction: column;
}
.container-filtre .specs label {
  font-size: 1.2rem;
  margin-bottom: 10px;
}
.container-filtre .specs input {
  padding: 10px;
  border: 1px solid var(--quaternary);
  border-radius: 5px;
  outline: none;
}
.container-filtre .specs input:focus {
  border: 1px solid var(--primary);
}
.container-filtre .disponibilitate {
  grid-area: disponibilitate;
  display: flex;
  flex-direction: column;
}
.container-filtre .disponibilitate label {
  font-size: 1.2rem;
  margin-bottom: 10px;
}
.container-filtre .disponibilitate select {
  padding: 10px;
  border: 1px solid var(--quaternary);
  border-radius: 5px;
  outline: none;
}
.container-filtre .disponibilitate select:focus {
  border: 1px solid var(--primary);
}
.container-filtre .producator {
  grid-area: producator;
  display: flex;
  flex-direction: column;
  padding-left: 2px;
}
.container-filtre .producator label {
  font-size: 1.2rem;
  margin-bottom: 10px;
}
.container-filtre .producator select {
  padding: 10px;
  border: 1px solid var(--quaternary);
  border-radius: 5px;
  outline: none;
}
.container-filtre .producator select:focus {
  border: 1px solid var(--primary);
}
.container-filtre .container-btn {
  grid-area: btn;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.container-filtre .container-btn button {
  margin-top: 10px;
}

.container-produse {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.container-produse article {
  width: 47%;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 2%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
@media screen and (max-width: 800px) {
  .container-produse article {
    width: 100%;
    margin: auto !important;
    margin-top: 30px;
  }
}
@media screen and (max-width: 1400px) {
  .container-produse article img {
    width: 100%;
  }
}
.container-produse article.none {
  display: none;
}
.container-produse h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  padding-left: 15px;
}
.container-produse .info {
  width: 100%;
  height: calc(100% - 1.5rem - 10px);
  display: flex;
  flex-direction: row;
}
.container-produse .info > div {
  width: 50%;
  padding: 10px;
}
.container-produse .info > div:last-child {
  display: flex;
  flex-direction: column;
}
.container-produse .info > div:last-child button {
  margin-top: auto;
}

/*# sourceMappingURL=produse.css.map */
