body {
  --primary: #2F64A3;
  --secondary: #F0BB5D;
  --tertiary: #FAFAFA;
  --quaternary: #3796F0;
  --quinary: #C9DCF2;
  --timp-tranzitie: 0.8s;
  --latime-celula: 200px;
  --inaltime-celula: 25px;
  --timp-tranzitie-header: 0.5s;
  --timp-animatie-submeniu: 0.8s;
  font-size: 16px;
  font-family: "Source Sans Pro", sans-serif;
}
@media screen and (min-width: 800px) and (max-width: 1400px) {
  body {
    --latime-celula: 90px;
    --inaltime-celula: 20px;
  }
}
@media screen and (max-width: 800px) {
  body {
    --latime-celula: 100vw;
    --inaltime-celula: 30px;
  }
}

body.dark {
  --primary: #091421;
  --secondary: #f3c97d;
  --secondaryShade: #F0BB5D;
  --tertiary: #FAFAFA;
  --quaternary: #0b1e30;
  --quinary: #141618;
  background-color: black !important;
  color: white !important;
}
body.dark input {
  color: white !important;
}
body.dark h2,
body.dark h3,
body.dark h4,
body.dark h5,
body.dark h6 {
  color: var(--secondary) !important;
}
body.dark .bar {
  background-color: var(--secondary) !important;
}
body.dark hr {
  background-image: linear-gradient(to bottom, black, var(--secondary), black) !important;
}
body.dark hr::before {
  background: radial-gradient(farthest-side, var(--secondary) 0%, var(--secondary) 50%, var(--primary) 80%, transparent 100%) !important;
}
body.dark strong {
  color: var(--secondary) !important;
}
body.dark footer a {
  color: var(--secondary) !important;
}
body.dark input,
body.dark select {
  background-color: var(--primary) !important;
  border-color: var(--secondary) !important;
  color: white !important;
}
body.dark select > option:checked {
  background-color: var(--secondary) !important;
}
body.dark input[type=range],
body.dark input[type=radio],
body.dark input[type=checkbox] {
  accent-color: var(--secondary);
}
body.dark .btn-primary {
  --bs-btn-color: #000;
  --bs-btn-bg: var(--secondary);
  --bs-btn-border-color: var(--secondary);
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: var(--secondaryShade);
  --bs-btn-hover-border-color: var(--secondaryShade);
  --bs-btn-focus-shadow-rgb: 78, 123, 177;
  --bs-btn-active-color: black;
  --bs-btn-active-bg: var(--secondaryShade);
  --bs-btn-active-border-color: var(--secondaryShade);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: var(--secondary);
  --bs-btn-disabled-border-color: var(--secondary);
  font-weight: 600 !important;
}

body.craciun {
  --primary: #034F1B;
  --secondary: #BD3634;
  --secondaryShade1: #aa312f;
  --secondaryShade2: #972b2a;
  --tertiary: #f2d7d6;
  --quaternary: #357249;
  --quinary: #689576;
}
body.craciun table tbody,
body.craciun details p {
  color: white !important;
}
body.craciun h2,
body.craciun h3,
body.craciun h4,
body.craciun h5,
body.craciun h6 {
  color: var(--secondary) !important;
}
body.craciun .bar {
  background-color: var(--secondary) !important;
}
body.craciun hr {
  background-image: linear-gradient(to bottom, white, var(--secondary), white) !important;
}
body.craciun hr::before {
  background: radial-gradient(farthest-side, var(--secondary) 0%, var(--secondary) 50%, var(--primary) 80%, transparent 100%) !important;
}
body.craciun #text {
  color: var(--secondary) !important;
}
body.craciun strong,
body.craciun b {
  color: var(--secondary) !important;
}
body.craciun footer a {
  color: var(--secondary) !important;
}
body.craciun .iframe-select a {
  color: var(--secondary) !important;
}
body.craciun .iframe-select a:hover {
  color: var(--tertiary) !important;
}
body.craciun input,
body.craciun select {
  border-color: var(--secondary) !important;
}
body.craciun select > option:checked {
  background-color: var(--secondary) !important;
  color: white;
}
body.craciun input[type=range],
body.craciun input[type=radio],
body.craciun input[type=checkbox] {
  accent-color: var(--secondary);
}
body.craciun .btn-link {
  --bs-btn-color: var(--quaternary);
  --bs-btn-hover-color: var(--primary);
  --bs-btn-active-color: var(--primary);
}
body.craciun .btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: var(--secondary);
  --bs-btn-border-color: var(--secondary);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: var(--secondaryShade1);
  --bs-btn-hover-border-color: var(--secondaryShade1);
  --bs-btn-focus-shadow-rgb: 78, 123, 177;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--secondaryShade2);
  --bs-btn-active-border-color: var(--secondaryShade2);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: var(--secondary);
  --bs-btn-disabled-border-color: var(--secondary);
  font-weight: 600 !important;
}

#snow {
  width: 100%;
  height: 100%;
  z-index: 1000000000;
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 50 50' style='enable-background:new 0 0 50 50%3B' xml:space='preserve'%3E%3Cstyle type='text/css'%3E.st1%7Bopacity:0.3%3Bfill:%23FFFFFF%3B%7D.st3%7Bopacity:0.1%3Bfill:%23FFFFFF%3B%7D%3C/style%3E%3Ccircle class='st1' cx='5' cy='8' r='1'/%3E%3Ccircle class='st1' cx='38' cy='3' r='1'/%3E%3Ccircle class='st1' cx='12' cy='4' r='1'/%3E%3Ccircle class='st1' cx='16' cy='16' r='1'/%3E%3Ccircle class='st1' cx='47' cy='46' r='1'/%3E%3Ccircle class='st1' cx='32' cy='10' r='1'/%3E%3Ccircle class='st1' cx='3' cy='46' r='1'/%3E%3Ccircle class='st1' cx='45' cy='13' r='1'/%3E%3Ccircle class='st1' cx='10' cy='28' r='1'/%3E%3Ccircle class='st1' cx='22' cy='35' r='1'/%3E%3Ccircle class='st1' cx='3' cy='21' r='1'/%3E%3Ccircle class='st1' cx='26' cy='20' r='1'/%3E%3Ccircle class='st1' cx='30' cy='45' r='1'/%3E%3Ccircle class='st1' cx='15' cy='45' r='1'/%3E%3Ccircle class='st1' cx='34' cy='36' r='1'/%3E%3Ccircle class='st1' cx='41' cy='32' r='1'/%3E%3C/svg%3E");
  background-position: 0px 0px;
  animation: animatedBackground 10s linear infinite;
}

#snow div {
  width: 100%;
  height: 100%;
  pointer-events: none;
  background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 50 50' style='enable-background:new 0 0 50 50%3B' xml:space='preserve'%3E%3Cstyle type='text/css'%3E.st1%7Bopacity:0.7%3Bfill:%23FFFFFF%3B%7D.st3%7Bopacity:0.1%3Bfill:%23FFFFFF%3B%7D%3C/style%3E%3Ccircle class='st3' cx='4' cy='14' r='1'/%3E%3Ccircle class='st3' cx='43' cy='3' r='1'/%3E%3Ccircle class='st3' cx='31' cy='30' r='2'/%3E%3Ccircle class='st3' cx='19' cy='23' r='1'/%3E%3Ccircle class='st3' cx='37' cy='22' r='1'/%3E%3Ccircle class='st3' cx='43' cy='16' r='1'/%3E%3Ccircle class='st3' cx='8' cy='45' r='1'/%3E%3Ccircle class='st3' cx='29' cy='39' r='1'/%3E%3Ccircle class='st3' cx='13' cy='37' r='1'/%3E%3Ccircle class='st3' cx='47' cy='32' r='1'/%3E%3Ccircle class='st3' cx='15' cy='4' r='2'/%3E%3Ccircle class='st3' cx='9' cy='27' r='1'/%3E%3Ccircle class='st3' cx='30' cy='9' r='1'/%3E%3Ccircle class='st3' cx='25' cy='15' r='1'/%3E%3Ccircle class='st3' cx='21' cy='45' r='2'/%3E%3Ccircle class='st3' cx='42' cy='45' r='1'/%3E%3C/svg%3E");
  background-position: 0px 0px;
  animation: animatedBackground 15s linear infinite;
}

@keyframes animatedBackground {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0px 300px;
  }
}

/*# sourceMappingURL=vars.css.map */
