<footer>
    <address id="contact">
        <h2>Contact:</h2>
        <p>Telefon: <a href="tel:+40722222222">0722222222</a></p>
        <p>Adresa sediu: <a href="https://goo.gl/maps/eCfJpNywLxx8efvs8" target="_blank">Șoseaua Nicolae Titulescu
                Nr.3, București 011131</a></p>
        <p>E-mail: <a href="mailto:contact@quickgsm.ro">contact@quickgsm.ro</a></p>
        <p>Skype: <a href="skype:quickgsm?chat">quickgsm</a></p>
    </address>
    <div>
        <small>Copyright &copy; <time datetime="2022-10-16">16 Octombrie 2022</time> QuickGSM. Toate drepturile
            rezervate.</small>
    </div>  
    <a id="to_top" href="#">
        <div></div>
    </a>
    <p id="banner">
        Acesta este un proiect scolar.
    </p>
</footer>