<header>
    <div id="hamburger-container">
        <div id="hamburger">
            <div class="hamburger-line"></div>
            <div class="hamburger-line"></div>
            <div class="hamburger-line"></div>
        </div>
    </div>
    <h1>QuickGSM</h1>
    <nav>
        <ul>
            <li><a>Telefoane</a></li>
            <li><a>Tablete</a></li>
            <li><a>Accesorii</a></li>
            <li><a href="/about">Despre noi</a></li>
            <li><a>Cos</a></li>
            <li class="sublist">
                <a href="/home"><i class="fa-solid fa-house"></i><p>Acasă</p></a>
                <ul>    
                    <li><a href="/#oferte">Oferte</a></li>
                    <li><a href="/#noutati">Noutăți</a></li>
                    <li><a href="/#faq">Întrebări frecvente</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</header>